* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background: #efefbb;
  background: linear-gradient(to right, #d4d3dd, #efefbb);
}
