* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.background {
  position: absolute;
  background: url('../DAY1-ExpandingCards/image/p4.jpg') no-repeat center center/cover;
  top: -20px;
  bottom: -20px;
  left: -20px;
  right: -20px;
  z-index: -1;
  filter: blur(20px);
}

.loginbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 40px;
  border-radius: 5px;
  background-color: #fff;
}

.loginbox .title {
  letter-spacing: 4px;
}

.loginbox .tip {
  letter-spacing: 2px;
  font-size: 14px;
  margin-top: -10px;
}

.loginbox .item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 22px;
  align-self: flex-start;
}

.loginbox .item input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border: 1px solid #0003;
  border-radius: 5px;
}

.loginbox button {
  width: 100%;
  height: 42px;
  margin-top: 8px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #0007;
  font-size: 18px;
  letter-spacing: 5px;
  color: #fff;
  transition: transform .8s ease;
  cursor: pointer;
}

.loginbox button:active {
  transform: scale(0.96);
}