body{
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 0;
    height: 54px;
    border: 0;
    line-height: 46px;
    padding: 0;
    margin: 0;
    font-size: 28px;
    transition: width 500ms ease;
}

input:focus {
    outline: 0;
}

button {
    width: 54px;
    height: 54px;
    background-color: #fff;
    border: 0;
    cursor: pointer;
}

button i {
    font-size: 52px;
}

.search-box:hover input, input:focus {
    padding: 0 15px;
    width: 240px;
}