body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Roboto Mono', sans-serif;
    background-color: cornflowerblue;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 50px;
    color: #fff;
}

.counter {
    margin-top: 10px;
    font-size: 60px;
}


@media (max-width: 660px) {
    body {
      flex-direction: column;
    }
  }